<body>
  <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}" style="width:800px; margin:0 auto;">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/easter-eggs/' | relative_url }}">
      {% endif %}

      {% if page.profile.ee0 %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.ee0 | prepend: '/assets/easter-eggs/' | relative_url }}">
      {% endif %}

      {% if page.profile.ee1 %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.ee1 | prepend: '/assets/easter-eggs/' | relative_url }}">
      {% endif %}

      {% if page.profile.ee2 %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.ee2 | prepend: '/assets/easter-eggs/' | relative_url }}">
      {% endif %}

      {% if page.profile.ee3 %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.ee3 | prepend: '/assets/easter-eggs/' | relative_url }}">
      {% endif %}

      {% if page.profile.ee4 %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.ee4 | prepend: '/assets/easter-eggs/' | relative_url }}">
      {% endif %}
  </div>
</body>
